@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Public+Sans:wght@200&display=swap');
/* global */
body {
    overflow-x:hidden;
}
.container {
    font-size:18px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    overflow-x:hidden;
    
}
.primary-btn {
    padding:10px;
    border-radius:15px;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    color:white;
    border:none;
    
}
p {
    color:hsl(233, 8%, 62%);
    font-size:15px;
    padding-bottom: 10px;
}

h3 {
    font-size:35px;
    font-weight: 400;
    color:hsl(233, 26%, 24%);
    padding:10px;
}

.comman-width {
    width:20vw;
    
}

input {
    position:absolute;
    left:10px;
    display:none;
}

/* header */
header {
    display:flex;
    flex-direction: row;
    padding:10px 0 10px 0;
    width:100vw;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color:white;
    z-index:1;
    

}

.deactive-btn {
    display:none;
}

.logo {

}
ul li {
    display:inline;
    padding:10px;
}
ul li a {
    text-decoration: none;
    color:hsl(233, 8%, 62%);
    font-size:15px;
}

/* banner */

.banner {
    display:flex;
    flex-direction:row;
    width:100vw;
    justify-content: flex-end;
    background-color:hsl(0, 0%, 98%);
    overflow:hidden;
      
}
.banner-text {
    width:25vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}
.banner-image {
    width:65vw;
    height:80vh;
    position:relative;
    overflow: hidden; 
     
}
.banner-image .intro {
   position:absolute;
   top:-250px;
}

 .mockup{
    position:absolute;
    top:-200px;
    right:-150px;
    
}

/* service-container */
.service-container {
    display:flex;
    flex-direction:column;
    width:100vw;
 background-color:hsl(220, 16%, 96%);
 padding:50px 0px 50px 0;
}
.service-container h2 {
    font-size:25px;
    color: hsl(233, 26%, 24%);
}
.service-container .para {
    width:37vw;
    margin:20px 0px 30px 0;
}
.text {
    width:80vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-self: center;

    
    
}

.services {
    display:flex;
    flex-direction:row;
    width:90vw;
    justify-content: center;
    align-items:center;
    align-self: center;
}
.services img,h4{
    padding-bottom:15px;
}
.services h4 {
    font-size:20px;
    color:hsl(233, 26%, 24%);
}

/* Article section */

.article-container {
    display:flex;
    flex-direction:column;
    padding:40px 0px 40px 0px;
}
.latest-article {
 display:flex;  
 width:80vw; 
 justify-content:space-between;
}
.artic {
    border:1px solid whitesmoke;
    border-radius:5px;
    width:18vw;
}
.latest-article img {
    width:18vw;
    height:150px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.latest-article p {
    width:18vw;
}

.latest-article h6 {
    font-size:12px;
    color:hsl(233, 8%, 62%);
}
.latest-article p,h6,h5 {
    margin-left:10px;
}

.article-container h1{
        font-size:30px;
        padding-bottom:20px;
        font-weight:300;
        color:hsl(233, 26%, 24%);
        width:80vw;
}
h5 {
    color:hsl(233, 26%, 24%);
}


/* footer */

footer {
    width:100vw;
    display:flex;
    background-color:hsl(233, 26%, 24%);
    color:hsl(0, 0%, 100%);
    justify-content: space-around;
}
 span {
     font-weight:500;
 }
.logo-media {
   display:flex;
   flex-direction:column;
   padding:15px 0px 15px 0px;
}
   
.social-handle {
    margin-top:15px;
}
.links {
    display:flex;
    flex-direction:row;

}
.link-section ul {
    padding-right:10px;
}

.link-section ul li{
   display:block;
   padding:5px 0px 5px 0px;
   
}
.link-section ul li a{
    color:white;
}
.left {
    margin-right:100px;
}
.copyright {
    display:flex;
    flex-direction:column;
    align-items:flex-end;

    
    padding:15px 0px 15px 0px;
}
.copyright p {
    color:white;
    margin-top:10px;
}

/* active state  start here */

header a:hover{
border-bottom:2px solid;
color:hsl(233, 26%, 24%);
border-bottom-color: hsl(136, 65%, 51%);
margin-top:10px;
/* background-image:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%)); */
}

.primary-btn:hover {
    cursor: pointer;
}

.article-container h5:hover {
    color:hsl(192, 70%, 51%);
    cursor:pointer;
}
.social-handle a:hover {
    cursor: pointer;
    filter: invert(68%) sepia(24%) saturate(1322%) hue-rotate(82deg) brightness(96%) contrast(86%);
}
.links a:hover {
    color:hsl(192, 70%, 51%);
}

/* active state  end here */

/* media query */

@media only screen and (max-width: 650px) {
    body {
        overflow-x: hidden;
    }
    .container {
        display:flex;
        flex-direction:column;
        
    }

    .primary-btn {
        align-self: center;
        margin-bottom: 15px;
    }
    /* comman-width */
    .set-width {
        width:80vw;
    }
    .comman-width {
        width:80vw;
    }

    /* header */
        nav {
            
            width:60vw;
            height:65vw;
            position:absolute;
            background-color:white;
            border:1px solid white;
            border-radius:5px;
            justify-content: center;
            text-align:center;
            top:60px;
            right:70px;
            transform: translateY(-200%);
        }
       
        #toggle:checked+ .container header .navbar nav {
            transform: translateY(0); 
        }

        #toggle:checked+ .container header .navbar nav ul li a {
                    color:hsl(233, 26%, 24%);
                    font-weight: 600;
        }

        #toggle:checked+ .container .banner {
            background-image: linear-gradient(to bottom,hsl(233, 26%, 24%),hsl(233, 8%, 62%),hsl(220, 16%, 96%));
            opacity: 1;
        }
        #toggle:checked+ .container .mockup{
            display:none;
        }
        nav ul {
            display:flex;
            flex-direction:column;
        }
        
        .active-btn {
             display:none;
        }
        .deactive-btn {
            display:block;
            border:none;
            background-color: white;;
        }


    /* banner */

    .banner {
        width:100vw;
        display:flex;
        flex-direction: column-reverse;
        overflow-x: hidden;
    }
    .banner-text {
        text-align:center;
    }
    .banner-image {
        width:90vw;
        height:40vh;
        position:relative;
        overflow: hidden; 
         
    }

    .banner-image .intro {
        position:absolute;
    
        height:70vh;
        top:-250px;
        right:-160px;
     }
     
      .mockup{
          
        position:absolute;
        width:80vw;
        top:-90px;
        right:30px;

         
     }
    
/* service container */
    .service-container {
        text-align:center;
    }
    .service-container .para {
        width:80vw;
    }
    .services {
        flex-direction:column;
        
    }
/* article container */

    .latest-article {
        display:flex;
        flex-direction:column;
        text-align:left;
        padding-top:20px;
    }

    .latest-article img {
        width:80vw;
        height:150px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .latest-article p,h6,h5 {
        width:70vw;
        margin-left:10px;
    }

    .artic {
        margin-top:15px;
    }
    
    /* footer */

    footer, .links{
        display:flex;
        flex-direction:column;
        text-align:center;
    }
    .copyright {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    }

.left { 
    margin-right:0px;
}

.copyright p {
    margin-top:0px;
    width: 95vw;
    text-align: center;
    padding-top: 10px;
}

}